h2, h3 {
  color: #2c3e50;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
}

table {
  width: 100%;
  margin-top: 20px;
  table-layout: auto;
}

button {
  font-size: 14px;
}
